* {
    font-family: 'Metal', cursive;
}

header{
    background-color: white;
    height: 90px;
}

body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.logo{
    align-items: left;
    height: 10%;
    width: 10%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    float: left;
}

nav{
    align-items: right;
}

ul{
    padding: 0%;
    margin-left: 200px;
    border: 0%;
    list-style: none;
    text-align: right;
    float: right;
}

li{
    display: inline;
    position: relative;
}

h1, h2, h3, p{
    text-align: center;
    color: white;
}

.container-topo{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imagens-site{
    padding-left: 26%;
    width: 50%;
}

